@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-roboto: 'Roboto', sans-serif;
    /* #4154f1 */
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    min-width: 360px;
    font-family: var(--font-roboto);
    scroll-behavior: smooth;
}

.container {
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 20px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .12);
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
}

.header-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    text-decoration: none;
    color: #012970;
    font-weight: 700;
}

.header-second-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link {
    position: relative;
    text-decoration: none;
    color: #012970;
    font-size: 16px;
    padding: 15px 20px;
    font-weight: 700;
    letter-spacing: .5px;
    transition: color .2s linear;
}

.link:hover .drop-down,
.link:hover {
    color: #4154f1;
}

.link:first-child {
    color: #4154f1;
}

.link:nth-child(7) {
    padding: 7px 25px 7px 5px;
}

.link:nth-child(7)::after {
    position: absolute;
    content: '';
    left: 90%;
    top: 45%;
    transform: translateY(-50%) rotate(45deg);
    width: 8px;
    height: 8px;
    border-right: 1px solid #012970;
    border-bottom: 1px solid #012970;
}

.drop-down {
    position: relative;
    text-decoration: none;
    color: #012970;
    transition: color .2s linear;
}

.list {
    position: absolute;
    width: 170%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .12);
    background-color: #fff;
    padding: 7px;
}

.first-list {
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: -999;
    transform: translateY(40px);
    transition: opacity .2s, visibility .2s, transform .2s linear;
}

.link:hover .first-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    z-index: 999;
    transform: translateY(0);
}

.items {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    color: #012970;
    font-weight: 400;
    transition: color .2s linear;
}

.items:hover {
    color: #4154f1;
}

.first-item:nth-child(2)::after {
    position: absolute;
    content: '';
    left: 90%;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 7px;
    height: 7px;
    border-top: 1px solid #012970;
    border-right: 1px solid #012970;
}

.second-list {
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: -9999;
    transform: translateX(-40px);
    transition: opacity .2s, visibility .2s, transform .2s linear;
}

.second-items {
    width: 100%;
}

.first-item:hover .second-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    z-index: 9999;
    transform: translateX(0);
}

.btn {
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: #4154f1;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color .2s linear;
}

.btn:hover {
    background-color: #4f60fa;
}


@media(max-width: 768px) {
    .header-second-block {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: -999;
    }

    .header-inner::after {
        content: '';
        position: absolute;
        left: 95%;
        top: 50%;
        transform: translateY(-70%);
        margin-right: 10px;
        width: 20px;
        height: 10px;
        cursor: pointer;
        border-top: 2px solid #012970;
        border-bottom: 2px solid #012970;
    }

    .header-inner::before {
        content: '';
        position: absolute;
        left: 95%;
        top: 65%;
        margin-right: 10px;
        width: 20px;
        height: 10px;
        cursor: pointer;
        border-top: 2px solid #012970;
    }
}